@import "tailwindcss";


/* Ocultar scrollbar en navegadores modernos */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


/* body */
@layer base {
  ::selection {
    background: rgb(74, 74, 74);
    color: rgb(203, 203, 203);
  }
  body {
    @apply font-['arial-narrow'];
  }
}


/* top-ticker animation */
@layer utilities {
  @keyframes infinite-scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% - 5px));
    }
  }

  .ticker-top {
    animation: infinite-scroll-left 25s linear infinite;
  }

}


/* title animation */
@layer utilities {
  @keyframes title-bounce {
    /* Parte 1: posición inicial (todo visible) */
    0% {
      transform: translateX(0);
    }
    /* Pausa en borde izquierdo (1 segundo) */
    10% {
      transform: translateX(0);
    }
    /* Parte 2: movimiento hacia la izquierda (revelar texto oculto) */
    45% {
      transform: translateX(-6%);
    }
    /* Pausa en borde derecho (1 segundo) */
    55% {
      transform: translateX(-6%);
    }
    /* Parte 3: regreso hacia la derecha (ocultar otra vez) */
    90% {
      transform: translateX(0);
    }
    /* Pausa final antes de repetir */
    100% {
      transform: translateX(0);
    }
  }

  .title-bounce {
    animation: title-bounce 8s linear infinite;
  }
}



/* bottom-ticker animation */
@layer utilities {
  @keyframes infinite-scroll-right {
    0% {
      transform: translateX(calc(-50% - 5px)); /* empieza fuera por la izquierda */
    }
    100% {
      transform: translateX(0); /* termina en su posición normal */
    }
  }

  .ticker-bottom {
    animation: infinite-scroll-right 25s linear infinite;
  }

}